<h1>Importing libraries and necessary data</h1>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('market.csv', header=None)

In [3]:
df

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [ ]:
<h1>Import

In [4]:
from pyECLAT import ECLAT
eclat = ECLAT(data=df)

In [5]:
eclat.df_bin

   cafe  leite  manteiga  pao  feijao  arroz  cerveja
0     0      1         1    1       0      0        1
1     1      0         1    1       0      0        0
2     1      0         1    1       0      0        0
3     1      1         1    1       0      0        0
4     0      0         0    0       0      0        1
5     0      0         1    0       0      0        0
6     0      0         0    1       0      0        0
7     0      0         0    0       1      0        0
8     0      0         0    0       1      1        0
9     0      0         0    0       0      1        0

In [6]:
eclat.uniq_

['cafe', 'leite', 'manteiga', 'pao', 'feijao', nan, 'arroz', 'cerveja']

In [7]:
indexes, suport = eclat.fit(min_support=0.3, min_combination=2, max_combination=4)

Combination 2 by 2

3it [00:00, 96.78it/s]

Combination 3 by 3

1it [00:00, 55.56it/s]

Combination 4 by 4

0it [00:00, ?it/s]

In [8]:
indexes

{'cafe & manteiga': [1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'cafe & manteiga & pao': [1, 2, 3]}

In [9]:
suport

{'cafe & manteiga': 0.3,
 'cafe & pao': 0.3,
 'manteiga & pao': 0.4,
 'cafe & manteiga & pao': 0.3}